$customWidth: calc(100% - 60px);

::ng-deep {
    p-inputNumber {
        input {
            width: $customWidth;
        }
    }

    .table-width-40 td {
        width: 40%;
    }

    .width-custom {
        width: $customWidth;
    }
}

.prod-name {
    margin-bottom: 0.25rem;
}
