<input type="text" pInputText [autofocus]="true" class="w-full prod-name" [(ngModel)]="name"
    placeholder="Product Name" />

<p-dropdown styleClass="w-full h-10 mb-1" placeholder="Product Type" [options]="productService.products"
    [(ngModel)]="selectedProduct" optionLabel="model" [filter]="true">
</p-dropdown>
<p-table *ngIf="selectedProduct" [value]="[selectedProduct]" styleClass="p-datatable-sm table-width-40">
    <ng-template pTemplate="body" let-product>
        <tr>
            <td><b>Company</b></td>
            <td>{{ product.company }}</td>
        </tr>
        <tr>
            <td><b>Area</b></td>
            <td>{{ product.area }} m<sup>2</sup></td>
        </tr>
        <tr>
            <td><b>Cells</b></td>
            <td>{{ product.num_cells }}</td>
        </tr>
        <tr>
            <td><b>Power Peak</b></td>
            <td>{{ product.power_peak }} W</td>
        </tr>
        <tr>
            <td><b>Efficiency</b></td>
            <td>{{ product.efficiency*100 }} %</td>
        </tr>
    </ng-template>
</p-table>
<div class="w-full mb-1">
    <p-dropdown styleClass="width-custom h-10" placeholder="Orientation" [options]="orientations"
        [(ngModel)]="selectedOrientation">
    </p-dropdown>
    <p-button icon="pi pi-info" (onClick)="showInfoDialog('Orientation', selectedOrientation)"
        styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
</div>
<div class="w-full mb-1">
    <p-inputNumber styleClass="w-full h-10" class="width-custom" [(ngModel)]="tiltAngle" mode="decimal"
        [maxFractionDigits]="10" suffix="°" placeholder="Tilt Angle" [showButtons]="true" [min]="0" [max]="90"
        title="Min: 0, Max: 90"></p-inputNumber>
    <p-button icon="pi pi-info" (onClick)="showInfoDialog('Tilt Angle', tiltAngle)"
        styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
</div>
<p-inputNumber styleClass="w-full h-10 mb-1" class="w-full" [(ngModel)]="numPanels" placeholder="Num Panels"
    [showButtons]="true" [min]="1"></p-inputNumber>
<p-divider align="center">
    <div class="inline-flex align-items-center">
        <i class="pi pi-map-marker mr-2"></i>
        <b>Location</b>
    </div>
</p-divider>
<p-inputNumber styleClass="w-full h-10 mb-1" class="w-full lg:w-3/6 lg:float-left" [(ngModel)]="longitude"
    mode="decimal" [maxFractionDigits]="14" suffix="°" placeholder="Longitude" [showButtons]="true" [min]="-180"
    [max]="180" title="Min: -180, Max: 180" [disabled]="isEditMode"></p-inputNumber>
<p-inputNumber styleClass="w-full h-10 mb-1" class="w-full lg:w-3/6 lg:float-right" [(ngModel)]="latitude"
    mode="decimal" [maxFractionDigits]="14" suffix="°" placeholder="Latitude" [showButtons]="true" [min]="-90"
    [max]="90" title="Min: -90, Max: 90" [disabled]="isEditMode"></p-inputNumber>

<p-button label="Save" styleClass="w-full" (onClick)="onSubmit()" [disabled]="!isButtonEnabled()"></p-button>
