<ol class="list-decimal ml-3">
    <li>
        <div>Create/Open a project.</div>
    </li>
    <li>
        <div>Hover over the map too view the longitudes and latitudes of locations.</div>
    </li>
    <li>
        <div>Click on the <img class="solar-icon" src="assets/solar-panel-svgrepo-com.svg" pTooltip="Products" /> button
            to view all the
            products you have set
            in the sidebar.</div>
    </li>
    <li>
        <div>To add a product, either click on the

            <p-button label="Add Product" icon="pi pi-plus" styleClass="p-button-sm"></p-button>
            button in the sidebar, or click on the map.
        </div>
    </li>
    <li>
        <div>A dialog form is visible. Fill the required information according to your specifications. Click on
            <p-button label="Save" styleClass="p-button-sm"></p-button>
            button.
        </div>
    </li>
    <li>
        <div>A marker is shown on the map at the location you have entered.</div>
    </li>
    <li>
        <div>On hovering the marker, the details of the product are shown.</div>
    </li>
    <li>
        <div>On clicking the marker, you can edit the details of the product.</div>
    </li>
    <li>
        <div>The product can also be edited by opening the sidebar, the product accordion, and clicking on the

            <p-button icon="pi pi-pencil" pTooltip="Edit Product"
                styleClass="p-button-sm p-button-rounded p-button-outlined p-button-info"></p-button>
            icon.
        </div>
    </li>
    <li>
        <div>The application will start fetching the weather data for the region of the product every night UTC+0200.
        </div>
    </li>
    <li>
        <div>To generate the electricity report for the last 30 days for a product, either wait for 30 days, or manually
            generate it by clicking on the "Generate Report" icon.</div>
    </li>
    <li>
        <div>Once the report is generated, it is sent to your email address and the status of the product is set to
            "Inactive".</div>
    </li>
    <li>
        <div>The product is now in read-only state.</div>
    </li>
    <li>
        <div>
            <div>To view the report, click on the <p-button icon="pi pi-chart-line" pTooltip="View Report"
                    styleClass="p-button-sm p-button-rounded p-button-outlined p-button-warning"></p-button> button. A
                chart is
                visible showing the electricity generated for the last 30 days.</div>
        </div>
    </li>
    <li>
        <div>You can switch between "Hourly" and "Daily" reports by clicking on their respective icons.</div>
    </li>
    <li>
        <div>You can download the chart information in JSON and PNG format by clicking on their respective icons.</div>
    </li>
    <li>
        <div>Once all the products in a project have their reports generated, the status of the project is set to
            "Inactive". It is now in read-only state.</div>
    </li>
</ol>
