<p-toast position="bottom-center" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div class="container-fluid bg-black px-0">
    <div class="row">
        <div class="col-lg-8 d-none d-lg-block px-0">
            <!-- Content for the first column (visible on screens larger than small) -->
            <img src="assets/solar-panels.jpg" alt="" class="w-full h-full object-cover">
        </div>
        <div class="col-lg-4 px-0">
            <div class="w-full h-screen">
                <p-card header="Sign {{formType}} to your account" [styleClass]="'h-full'">
                    <div class="w-full h-full">
                        <form [formGroup]="authForm" (ngSubmit)="submitForm()">

                            <span class="p-float-label mb-6">
                                <input pInputText id="email" class="w-full" formControlName="email" />
                                <label htmlFor="email">Email</label>
                            </span>

                            <span class="p-float-label mb-6">
                                <p-password [toggleMask]="true" [feedback]="true" [minlength]="6"
                                    inputStyleClass="w-full" styleClass="w-full"
                                    formControlName="password"></p-password>
                                <label for="password">Password</label>
                            </span>

                            <p-button label="Submit" (onClick)="submitForm()" [disabled]="!authForm.valid"></p-button>
                        </form>

                        <div class="pt-6">
                            <ng-container *ngIf="route === 'signin'; then signin else signup"></ng-container>
                        </div>

                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>

<ng-template #signin>
    <span>Don't have an account yet? </span>
    <a (click)="navigateByUrl('signup')">Sign Up</a>
</ng-template>

<ng-template #signup>
    <span>Already have an account? </span>
    <a (click)="navigateByUrl('signin')">Sign In</a>
</ng-template>
