::ng-deep {

    .mapContainer {
        z-index: 1;

        .mapboxgl-marker {
            z-index: 10;
        }

        .mapboxgl-ctrl-top-right {
            z-index: 10;
        }

        .mapboxgl-ctrl-bottom-right {
            z-index: 10;
        }

        .mapboxgl-popup {
            z-index: 10;
        }

        .popup-active .mapboxgl-popup-content {
            background-color: var(--green-700);
        }

        .popup-inactive .mapboxgl-popup-content {
            background-color: var(--red-700);
        }

        .mapboxgl-popup-content div {
            color: rgba(255, 255, 255, 0.87) !important;
        }

        .glow-marker-red {
            --glow-color: rgba(255, 0, 0, 1);
            animation: glowing 0.5s infinite alternate ease-in-out;
        }

        .glow-marker-green {
            --glow-color: rgba(0, 255, 0, 1);
            animation: glowing 0.5s infinite alternate ease-in-out;
        }
    }

}

@keyframes glowing {
    0% {
        filter: drop-shadow(0 0px 0px rgba(0, 0, 0, 1)) saturate(1);
    }

    100% {
        filter: drop-shadow(0 0px 20px var(--glow-color)) saturate(5);
    }
}
