<div class="flex justify-between">
    <p-selectButton [options]="stateOptions" [(ngModel)]="value" optionLabel="label" (ngModelChange)="onStateChange()"
        optionValue="value"></p-selectButton>
    <span class="p-buttonset">
        <ng-container *ngFor="let item of downloadOptions">
            <p-button [icon]="item.icon" [label]="item.label" (onClick)="item.command()"
                [pTooltip]="'Download '+item.label" tooltipPosition="left"></p-button>
        </ng-container>
    </span>
</div>
<p-chart #hourlyChart type="line" [data]="hourlyReportData" [options]="hourlyOptions"
    *ngIf="value === 'hourly'"></p-chart>
<p-chart #dailyChart type="line" [data]="dailyReportData" [options]="dailyOptions" *ngIf="value === 'daily'"></p-chart>
