<div class="flex justify-between">
    <p-selectButton [options]="stateOptions" [(ngModel)]="value" (ngModelChange)="onStateChange($event)"
        optionLabel="label" optionValue="value"></p-selectButton>
    <span class="p-buttonset">
        <ng-container *ngFor="let item of downloadOptions">
            <p-button [icon]="item.icon" [label]="item.label" (onClick)="item.command()"
                [pTooltip]="'Download '+item.label" tooltipPosition="left"></p-button>
        </ng-container>
    </span>
</div>
<p-chart #chart type="line" [data]="reportData" [options]="options"></p-chart>
