<p-sidebar [visible]="sidebarVisible" (visibleChange)="visibleChange($event)" [modal]="false">
    <ng-template pTemplate="header">Products</ng-template>
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Add Product">
                <p-scrollPanel>
                    <ng-container [ngTemplateOutlet]="addProduct"></ng-container>
                </p-scrollPanel>
            </p-tabPanel>
            <p-tabPanel header="Show Products">
                <p-scrollPanel>
                    <ng-container [ngTemplateOutlet]="showProducts"></ng-container>
                </p-scrollPanel>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
    <!-- <ng-template pTemplate="footer">Footer Content</ng-template> -->
</p-sidebar>

<ng-template #addProduct>
    <p-dropdown styleClass="w-full h-10 mb-6" placeholder="Product Type" [options]="productService.products"
        [(ngModel)]="selectedProduct" optionLabel="name" [filter]="true">
    </p-dropdown>
    <p-table *ngIf="selectedProduct" [value]="[selectedProduct]">
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>Company</td>
                <td>{{ product.company }}</td>
            </tr>
            <tr>
                <td>Area</td>
                <td>{{ product.area }} m<sup>2</sup></td>
            </tr>
            <tr>
                <td>Cells</td>
                <td>{{ product.num_cells }}</td>
            </tr>
            <tr>
                <td>Power Peak</td>
                <td>{{ product.power_peak }} W</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="w-full mb-6">
        <p-dropdown styleClass="custom-width h-10" placeholder="Orientation" [options]="orientations"
            [(ngModel)]="selectedOrientation" optionLabel="label">
        </p-dropdown>
        <p-button icon="pi pi-info" (onClick)="showInfoDialog('Orientation', selectedOrientation)"
            styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
    </div>
    <div class="w-full mb-6">
        <p-inputNumber styleClass="w-full h-10" class="custom-width" [(ngModel)]="angle" mode="decimal" suffix="°"
            placeholder="Tilt Angle" [showButtons]="true" [min]="0" [max]="90"></p-inputNumber>
        <p-button icon="pi pi-info" (onClick)="showInfoDialog('Tilt Angle', angle)"
            styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
    </div>

</ng-template>

<ng-template #showProducts>
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
        totam
        rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
        explicabo. Nemo enim
        ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
        dolores
        eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
        modi.
    </p>
</ng-template>
