<p-sidebar [visible]="sidebarVisible" (visibleChange)="visibleChange($event)" [modal]="false">
    <ng-template pTemplate="header">Products</ng-template>
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Add Product">
                <p-scrollPanel>
                    <ng-container [ngTemplateOutlet]="TAddProduct"></ng-container>
                </p-scrollPanel>
            </p-tabPanel>
            <p-tabPanel header="Show Products">
                <p-scrollPanel>
                    <ng-container [ngTemplateOutlet]="TShowProducts"></ng-container>
                </p-scrollPanel>
            </p-tabPanel>
        </p-tabView>
    </ng-template>
    <!-- <ng-template pTemplate="footer">Footer Content</ng-template> -->
</p-sidebar>

<ng-template #TAddProduct>
    <p-dropdown styleClass="w-full h-10 mb-3" placeholder="Product Type" [options]="productService.products"
        [(ngModel)]="selectedProduct" optionLabel="name" [filter]="true">
    </p-dropdown>
    <p-table *ngIf="selectedProduct" [value]="[selectedProduct]" styleClass="p-datatable-sm">
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>Company</td>
                <td>{{ product.company }}</td>
            </tr>
            <tr>
                <td>Area</td>
                <td>{{ product.area }} m<sup>2</sup></td>
            </tr>
            <tr>
                <td>Cells</td>
                <td>{{ product.num_cells }}</td>
            </tr>
            <tr>
                <td>Power Peak</td>
                <td>{{ product.power_peak }} W</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="w-full mb-3">
        <p-dropdown styleClass="width-custom h-10" placeholder="Orientation" [options]="orientations"
            [(ngModel)]="selectedOrientation" optionLabel="label">
        </p-dropdown>
        <p-button icon="pi pi-info" (onClick)="showInfoDialog('Orientation', selectedOrientation)"
            styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
    </div>
    <div class="w-full mb-3">
        <p-inputNumber styleClass="w-full h-10" class="width-custom" [(ngModel)]="tiltAngle" mode="decimal"
            [maxFractionDigits]="10" suffix="°" placeholder="Tilt Angle" [showButtons]="true" [min]="0" [max]="90"
            title="Min: 0, Max: 90"></p-inputNumber>
        <p-button icon="pi pi-info" (onClick)="showInfoDialog('Tilt Angle', tiltAngle)"
            styleClass="p-button-rounded p-button-danger p-button-outlined float-right"></p-button>
    </div>
    <p-inputNumber styleClass="w-full h-10 mb-3" class="width-full" [(ngModel)]="longitude" mode="decimal"
        [maxFractionDigits]="10" suffix="°" placeholder="Longitude" [showButtons]="true" [min]="-180" [max]="180"
        title="Min: -180, Max: 180"></p-inputNumber>
    <p-inputNumber styleClass="w-full h-10 mb-3" class="width-full" [(ngModel)]="latitude" mode="decimal"
        [maxFractionDigits]="10" suffix="°" placeholder="Latitude" [showButtons]="true" [min]="-90" [max]="90"
        title="Min: -90, Max: 90"></p-inputNumber>

    <p-button label="Submit" (onClick)="addProduct()" [disabled]="!isButtonEnabled()"></p-button>

</ng-template>

<ng-template #TShowProducts>
    <ng-container *ngIf="projectService.currentProject">
        <p-accordion [multiple]="true">
            <ng-container *ngFor="let product of projectService.currentProject.products; let index=index">
                <p-accordionTab header="{{index+1}}) {{product.name}}">
                    <p-table [value]="[product]" styleClass="p-datatable-sm">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>Company</td>
                                <td>{{ product.company }}</td>
                            </tr>
                            <tr>
                                <td>Area</td>
                                <td>{{ product.area }} m<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>Cells</td>
                                <td>{{ product.num_cells }}</td>
                            </tr>
                            <tr>
                                <td>Power Peak</td>
                                <td>{{ product.power_peak }} W</td>
                            </tr>
                            <tr>
                                <td>Orientation</td>
                                <td>{{ product.orientation }}</td>
                            </tr>
                            <tr>
                                <td>Tilt Angle</td>
                                <td>{{ product.tiltAngle }}°</td>
                            </tr>
                            <tr>
                                <td>Latitude</td>
                                <td>{{ product.lat }}°</td>
                            </tr>
                            <tr>
                                <td>Longitude</td>
                                <td>{{ product.lng }}°</td>
                            </tr>
                            <tr>
                                <td>Created On</td>
                                <td>{{ getFormattedDateTimeFromTimestamp(product.timestamp )}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="flex justify-center">
                        <p-button label="View On Map" icon="pi pi-eye" styleClass="p-button-sm"
                            (onClick)="viewOnMap(product)"></p-button>
                    </div>
                </p-accordionTab>
            </ng-container>
        </p-accordion>
    </ng-container>
</ng-template>
