<p-sidebar [visible]="sidebarVisible" (visibleChange)="visibleChange($event)" [modal]="false">
    <ng-template pTemplate="header">Products</ng-template>
    <ng-template pTemplate="content">
        <p-scrollPanel>
            <div class="flex justify-center mb-6">
                <p-button *ngIf="isProjectActive" label="Add Product" icon="pi pi-plus" styleClass="p-button-sm"
                    (onClick)="addProduct()"></p-button>
            </div>
            <ng-container [ngTemplateOutlet]="TShowProducts"></ng-container>
        </p-scrollPanel>
    </ng-template>
    <!-- <ng-template pTemplate="footer">Footer Content</ng-template> -->
</p-sidebar>

<ng-template #TShowProducts>
    <ng-container>
        <p-accordion [multiple]="true" (onOpen)="onAccordionTabOpen($event)" (onClose)="onAccordionTabClose()">
            <ng-container *ngFor="let product of products; let index=index">
                <p-accordionTab>
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center w-full">
                            <span class="vertical-align-middle mr-2 w-11/12"
                                [ngClass]="product.isActive ? 'text-green-700' : 'text-red-700'">{{index+1}})
                                {{product.name}}</span>

                            <p-badge class="align-items-right" [value]="product.isActive ? 'Active' : 'Inactive'"
                                [severity]="product.isActive ? 'success' : 'danger'">
                            </p-badge>
                        </div>
                    </ng-template>
                    <p-table [value]="[product]" styleClass="p-datatable-sm p-datatable-xsm">
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>ID</td>
                                <td>{{ product.id }}</td>
                            </tr>
                            <tr>
                                <td>Company</td>
                                <td>{{ product.company }}</td>
                            </tr>
                            <tr>
                                <td>Model</td>
                                <td>{{ product.model }}</td>
                            </tr>
                            <tr>
                                <td>Area</td>
                                <td>{{ product.area }} m<sup>2</sup></td>
                            </tr>
                            <tr>
                                <td>Cells</td>
                                <td>{{ product.num_cells }}</td>
                            </tr>
                            <tr>
                                <td>Panels</td>
                                <td>{{ product.num_panels }} </td>
                            </tr>
                            <tr>
                                <td>Power Peak</td>
                                <td>{{ product.power_peak }} W</td>
                            </tr>
                            <tr>
                                <td>Orientation</td>
                                <td>{{ product.orientation }}</td>
                            </tr>
                            <tr>
                                <td>Tilt Angle</td>
                                <td>{{ product.tiltAngle }}°</td>
                            </tr>
                            <tr>
                                <td>Latitude</td>
                                <td>{{ product.lat }}°</td>
                            </tr>
                            <tr>
                                <td>Longitude</td>
                                <td>{{ product.lng }}°</td>
                            </tr>
                            <tr>
                                <td>Created On</td>
                                <td>{{ getFormattedDateTimeFromTimestamp(product.timestamp)}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ product.isActive ? 'Active' : 'Inactive'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="flex justify-center">
                        <p-button icon="pi pi-map-marker" class="mx-3" pTooltip="View On Map"
                            (onClick)="viewOnMap(product)"
                            styleClass="p-button-rounded p-button-outlined p-button-primary"></p-button>
                        <ng-container *ngIf="product.isActive">
                            <p-button icon="pi pi-pencil" class="mx-3" pTooltip="Edit Product"
                                (onClick)="editViewProduct(product)"
                                styleClass="p-button-rounded p-button-outlined p-button-info"></p-button>
                            <p-button icon="pi pi-chart-line" class="mx-3" pTooltip="Generate Report"
                                (onClick)="generateReport(product)"
                                styleClass="p-button-rounded p-button-outlined p-button-warning"></p-button>
                            <p-button icon="pi pi-trash" class="mx-3" pTooltip="Delete Product"
                                (onClick)="deleteProduct(product)"
                                styleClass="p-button-rounded p-button-outlined p-button-danger"></p-button>
                        </ng-container>
                        <ng-container *ngIf="!product.isActive">
                            <p-button icon="pi pi-eye" class="mx-3" pTooltip="View Product"
                                (onClick)="editViewProduct(product)"
                                styleClass="p-button-rounded p-button-outlined p-button-info"></p-button>
                            <p-button icon="pi pi-chart-line" class="mx-3" pTooltip="View Report"
                                (onClick)="viewReport(product)"
                                styleClass="p-button-rounded p-button-outlined p-button-warning"></p-button>
                        </ng-container>
                    </div>
                </p-accordionTab>
            </ng-container>
        </p-accordion>
    </ng-container>
</ng-template>
