$customWidth: calc(100% - 60px);

::ng-deep {
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        background: inherit;

        &:not(.p-disabled):focus {
            box-shadow: none;
        }
    }

    .p-tabview-panels {
        padding: 1.25rem 0 0 0 !important;
    }

    .p-sidebar {
        width: 25rem !important;

        .p-sidebar-footer {
            padding: 0px;
        }


    }

    .p-scrollpanel {
        width: 100%;
        height: 88vh;

        .p-scrollpanel-content {
            padding-left: 1px;
        }
    }

    p-inputNumber {
        input {
            width: $customWidth;
        }
    }

    .width-custom {
        width: $customWidth;
    }

    .width-full {
        width: 100%;
    }

}
