::ng-deep {
    .p-float-label {
        display: inline;
    }

    .custom-width {

        &.p-inputtext,
        &.p-dropdown {
            &.proj-new {
                width: 90%;
            }

            &.proj-select {
                width: 86%;
            }
        }
    }

    .p-button.width-9 {
        width: 9%;
    }

    .proj-scrollPanel {
        height: 37vh;
    }

    .prod-active {
        background-color: var(--green-700);
    }

    .prod-inactive {
        background-color: var(--red-700);
    }

    .btn-trash {
        margin-left: 1rem;
    }
}
