::ng-deep {
    .p-float-label {
        display: inline;
    }

    .custom-width {

        &.p-inputtext,
        &.p-dropdown {
            width: 90%;
        }
    }

    .p-button.width-9 {
        width: 9%;
    }
}
