::ng-deep {
    .p-float-label {
        display: inline;
    }

    .p-button.width-9 {
        width: 9%;
    }

    .proj-scrollPanel {
        height: 29vh;
    }

    .prod-active {
        background-color: var(--green-700);
    }

    .prod-inactive {
        background-color: var(--red-700);
    }

    .btn-trash {
        width: 100% !important;
    }
}
