::ng-deep {

    .p-card-body,
    .p-card-content,
    .p-datatable-wrapper {
        height: 100% !important;
    }

    .custom-table {
        td:first-child {
            width: 20%;
        }

        td:nth-child(2) {
            width: 80%;
        }
    }
}
