$backgroundColor: rgba(0, 0, 0, 0.1);

::ng-deep {
    .p-dock .p-dock-list {
        background-color: $backgroundColor;
        border: 1px solid $backgroundColor;

        .p-dock-item:hover {
            background-color: $backgroundColor;
            border-radius: 50%;
        }
    }
}
